DEBUG=False
# MEDIA_ROOT=/data/media

# DB_ENGINE=postgres
# DB_NAME=photo_album
# DB_USER=photo-album
# DB_PASSWORD=secret
# DB_HOST=postgres
# DB_PORT=5432

USE_S3=False
# S3_BUCKET_NAME=photo-album
# S3_ACCESS_KEY_ID=your-access-key
# S3_SECRET_ACCESS_KEY=your-secret-key
# S3_ENDPOINT_URL=http://localhost:9000
# S3_REGION_NAME=minio
