# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
.venv/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/crash.log
terraform/*.tfvars
!terraform/terraform.tfvars.example
