apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: photo-album-django-hpa
  namespace: ${namespace}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: photo-album-django
  minReplicas: ${web_replicas}
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
