apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: photo-album-pvc-rwx
  namespace: ${namespace}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: rook-cephfs
