apiVersion: v1
kind: Secret
metadata:
  name: db-postgres
  namespace: ${namespace}
type: Opaque
stringData:
  database-name: ${db_name}
  database-user: ${db_user}
  database-password: ${db_password}
