apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: ${namespace}
  annotations:
    openshift.io/display-name: ${project_display_name}
    openshift.io/description: ${project_description}
